* {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10em;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10em;
}
