* {
  box-sizing: border-box;
  font-family: sans-serif;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3em;
  border-bottom: 1px solid #ccc;
  padding-top: .9em;
  padding-left: 3em;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4em;
  border-top: 1px solid #ccc;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: .7em;
  text-align: center;
}
section.main {
  margin: 3em 1em;
  text-align: center;
}

.modal {
  text-align: center;
  background-color: #fff;
  opacity: 1;
  position: absolute;
  top: 18%;
  left: 23%;
  height: 10em;
  width: 13em;
  z-index: 10;
  border: 1px solid #444;
  border-radius: .4em;
}

.modal-header{
  display: flex;
  padding-top: .2em;
  padding-left: .2em;
  margin-bottom: 1em;
  padding-bottom: 1em;
  position: relative;
}
.close-btn{
  position: absolute;
  right: .5em;
}
