* {
  box-sizing: border-box;
  font-family: sans-serif;
  transition: all .2s;
}
h1{
  font-size: 2em;
}
h6{
  font-size: 1em;
  font-weight: normal;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3em;
  border-bottom: 1px solid #ccc;
  padding-top: .9em;
  padding-left: 3em;
  background-color: #c9eef5;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4em;
  border-top: 1px solid #ccc;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: .7em;
  text-align: center;
  background-color: #c9eef5;
}
section.main {
  margin: 6em 1em;
  text-align: center;
  vertical-align: middle;
}

.modal {
  @include shadow();
  @include modalMiddleLeftHeader()
  text-align: center;
  background-color: #eef2f5;
  opacity: 1;
  position: absolute;
  top: 18%;
  height: 14em;
  width: 13em;
  z-index: 10;
  border: 1px solid #444;
  border-radius: .2em;
}

.modal-header{
  display: flex;
  padding-top: .3em;
  margin-bottom: 1em;
  padding-bottom: 1em;
  position: relative;
}
.modal-title{
  margin-left:auto;
  margin-right:auto;
}
.modal-inner p {
  padding: 0 1em;
  font-size: .75em;
}
.close-btn{
  position: absolute;
  right: .5em;
  cursor: pointer;
}
.ng-submitted input.ng-invalid {
    background-color: pink;
}
.message {
  font-size: .6em;
  margin-top: .8em;
  color: #7d1e2f;
}
input {
  padding: .3em .3em;
  margin-bottom: .5em;
  border: 1px solid black;
}
.btn-submit{
  width: 9.7em;
  margin-top:.3em;
}
button {
  @include shadow();
  border-radius: .2em;

  background-color: #f2f5f6; background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f5f6), to(#c8d7dc));
  background-image: -webkit-linear-gradient(top, #f2f5f6, #c8d7dc);
  background-image: -moz-linear-gradient(top, #f2f5f6, #c8d7dc);
  background-image: -ms-linear-gradient(top, #f2f5f6, #c8d7dc);
  background-image: -o-linear-gradient(top, #f2f5f6, #c8d7dc);
  background-image: linear-gradient(to bottom, #f2f5f6, #c8d7dc);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f2f5f6, endColorstr=#c8d7dc);

  border: 1px solid #000;
  cursor: pointer;
  min-height: 2em;
  font-size: 1em;

  &:hover{
    /*background-color: #0b0ef5;*/

    background-color: #d4dee1; background-image: -webkit-gradient(linear, left top, left bottom, from(#d4dee1), to(#a9c0c8));
background-image: -webkit-linear-gradient(top, #d4dee1, #a9c0c8);
background-image: -moz-linear-gradient(top, #d4dee1, #a9c0c8);
background-image: -ms-linear-gradient(top, #d4dee1, #a9c0c8);
background-image: -o-linear-gradient(top, #d4dee1, #a9c0c8);
background-image: linear-gradient(to bottom, #d4dee1, #a9c0c8);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d4dee1, endColorstr=#a9c0c8);
    /*color: #fff;*/
  }

}

.divider {
  @include modalMiddleLeftDivider()
  position: absolute;
  top: 1em;
  width: 1.5em;
  height: 1em;
  border-bottom: 1px solid #222;
}

.dark-background{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  opacity: .8;
  background-color: #ccc;
}
