h1{
  font-size: 3em;
}
h6{
  font-size: 1.4em;
  font-weight: normal;
}
header{
  font-size: 1.2em;
}
footer{
  font-size: 1em;
}
section.main {
  margin: 12em 1em;
}
button{
  font-size: 1.7em;
}
.btn-submit{
  font-size: 1em;
}
