@mixin shadow() {
  -webkit-box-shadow: 1px 1px 2px 2px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    1px 1px 2px 2px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         1px 1px 2px 2px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

@mixin modalMiddleLeftHeader(){
  left:-webkit-calc(50% - 6.5em);
  left:-moz-calc(50% - 6.5em);
  left:calc(50% - 6.5em);
}

@mixin modalMiddleLeftDivider(){
  left:-webkit-calc(50% - .75em);
  left:-moz-calc(50% - .75em);
  left:calc(50% - .75em);
}
